:root {
  --color-primary: #040404;
  --color-scondary: #f3f3f3;
  --color-accent: #00896e;

  --font-primary: 'PT Serif', serif;
  --font-secondary: "PT Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1,
h3 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-style: normal;
  color: var(--color-primary);
}

h2 {
  font-family: var(--font-secondary);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-primary);
}

h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--color-primary);
}

a {
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  font-family: var(--font-primary);
  font-style: italic;
  color: var(--color-accent)
}

ul,
ol {
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--color-primary);
  list-style-type: none;
}

dt {
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--color-accent);
}

dd {
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--color-primary)
}

cite {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-style: normal;
  color: var(--color-accent);
}

em, strong,
del, ins,
abbr, dfn,
i, b, s, u {
  font-family: var(--font-primary)
}

mark {
  background-color: var(--color-accent)
}
