:root {
  --color-primary: #040404;
  --color-scondary: #f3f3f3;
  --color-accent: #00896e;

  --font-primary: 'PT Serif', serif;
  --font-secondary: "PT Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1,
h2 {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-style: normal;
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-secondary);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-primary);
}

a {
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  font-style: italic;
  color: var(--color-accent)
}

ul {
  list-style-type: none;
}
