.btn {
  font-family: var(--font-secondary);
  font-weight: bold;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-secondary);
}
.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.btn-ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary);
}

.btn-ghost:hover {
  color: var(--color-accent);
  text-decoration: underline;
  border-color: transparent;
  background-color: transparent;
}

.btn-light {
  background-color: transparent;
  border-color: var(--color-accent);
  text-transform: uppercase;
  color: var(--color-accent);
}

.btn-light:hover {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}
